.createForm{
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  mat-form-field{
    display: block;
  }
  button {
    margin-bottom: 10px;
  }
}
h2 {
  text-align: center
}
.noShowInput {
  display: none;
}
.submitButton{
  width: fit-content;
  margin: 0 auto;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
